@mixin list{
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin absolute-max{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin psevdo-absolute{
  content: '';
  position: absolute;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size;
}
@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}
@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin flexbox-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@mixin flex-direction-column{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin flex-direction-column-reverse{
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

@mixin flex-direction-row{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@mixin flex-direction-row-reverse{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@mixin justify-content-space-between{
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@mixin justify-content-flex-start{
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@mixin align-items-center{
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin align-items-flex-end{
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@mixin align-items-stretch{
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@mixin align-items-flex-start{
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin justify-content-flex-end{
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@mixin justify-content-center{
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin flex-wrap-wrap{
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin scale($ratio) {
  -webkit-transform: scale($ratio);
  transform: scale($ratio);
}
@mixin animation($animation) {
  -moz-animation: $animation;
  -webkit-animation: $animation;
  animation: $animation;
}
@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin filter($args,$color) {
  -webkit-filter: $args;
  -moz-filter: $args;
  -ms-filter: $args;
  -o-filter: $args;
  filter: $args;
  filter: $color;
}

@mixin scrollbar {
  &::-webkit-scrollbar { @content; }
}

@mixin scrollbar-track {
  &::-webkit-scrollbar-track { @content; }
}

@mixin scrollbar-thumb {
  &::-webkit-scrollbar-thumb { @content; }
}

@mixin max-large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}
@mixin min-large {
  @media only screen and (min-width: 1201px) {
    @content;
  }
}
@mixin max-medium {
  @media only screen and (max-width: 991px) {
    @content;
  }
}
@mixin min-medium {
  @media only screen and (min-width: 992px) {
    @content;
  }
}
@mixin max-small {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin min-small {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin extra-small {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

@mixin roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@mixin roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

@mixin roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

@mixin roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin roboto-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}