/*********************************
COLORS
*********************************/
$main-text-color: #333333;
$secondary-text-color: #000000;
$main-title-color: #000000;
$primary-text-color: #007DD5;
$primary-text-hover: #007DD5;
$primary-bg-color: #007DD5;
$light-bg-color: #E6F1F9;
$secondary-bg-color: #01BD6C;
$current-bg-color: #EFF2F5;
$primary-bg-hover: rgba(51, 51, 51, 0.15);
